.screenshot {
  max-width: 800px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron {
  padding-top: 155px;
  padding-bottom: 20px;
  background-attachment: scroll;
  background: url("../img/jumbotron_pattern.png") repeat center;
  background-color: #123051;
}

.important {
    color: red;
}
