.jumbotron {
  padding-top: 136px;
  padding-bottom: 80px;
  margin-bottom: 0;
  background-attachment: fixed;
  background: url("../img/jumbotron_pattern.png") fixed; }
  @media not all, not all, (-webkit-min-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
    .jumbotron {
      /* on retina, use image that's scaled by 2 */
      background-image: url("../img/jumbotron_pattern2x.png");
      background-size: 100% } }
  .jumbotron h1 {
    margin-bottom: 45px; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #fff;
    color: #fff; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #fff; }
  @media screen and (min-width: 768px) {
    .jumbotron {
      padding-top: 160px;
      padding-bottom: 92px; } }
