<div class="modal" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-dialog {{ modalSize }}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">{{ modalTitle }}</h4>
            </div>
            <div ng-transclude></div>
        </div>
    </div>
</div>
