.DS_Store
.vagrant
target
logs
project/project
project/target
.swp
.cache
.classpath
.project
.settings/
target/
.idea/
*.iml
*.ipr
*.iws
*~
.pydevproject
*.pyc
*.dvi
.virtualenv
private
release.version
.ensime
.ensime_cache
package-lock.json
*trustStore.jks
.bloop
.metals
tmp.out
.vscode
project/metals.sbt
.bsp
quickstart/data
**/.virtualenv
**/.venv*
**/artifacts/
**/.env.overrides
**/node_modules
.run
**/*.zip
**/*.log
modules/portal/public/custom/
modules/portal/public/gentelella/
modules/portal/public/javascripts/
modules/portal/public/project/
modules/portal/public/stylesheets/
**/.env.*
modules/portal/package-lock.json

# Ignore frontend build outputs and dependencies
modules/frontend/node_modules/
modules/frontend/dist/
modules/frontend/*.local
modules/frontend/.DS_Store
modules/frontend/coverage/
modules/frontend/package-lock.json
modules/frontend/yarn.lock
modules/frontend/.idea/
modules/frontend/.vscode/
modules/frontend/*.log
modules/frontend/*.tmp
