.DS_Store
.vagrant
modules/portal/conf/generated.keystore
target
logs
project/project
project/target
.swp
.cache
.classpath
.project
.settings/
target/
.idea/
*.iml
*.ipr
*.iws
*~
.pydevproject
*.pyc
*.dvi
.virtualenv
private
release.version
.ensime
.ensime_cache
package-lock.json
*trustStore.jks
