.DS_Store
.vagrant
target
logs
project/project
project/target
.swp
.cache
.classpath
.project
.settings/
target/
.idea/
*.iml
*.ipr
*.iws
*~
.pydevproject
*.pyc
*.dvi
.virtualenv
private
release.version
.ensime
.ensime_cache
package-lock.json
*trustStore.jks
.bloop
.metals
tmp.out
.vscode
project/metals.sbt
.bsp
quickstart/data
**/.virtualenv
**/.venv*
**/*cache*
**/artifacts/
**/.env.overrides
**/node_modules
.run
**/*.zip
**/*.log
