<configuration>
    <!-- Test configuration, log to console so we can get the docker logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <message/>
                <nestedField>
                    <fieldName>labels</fieldName>
                    <providers>
                        <globalCustomFields>
                            <customFields>{"application": "vinyldns-api", "env": "dev"}</customFields>
                        </globalCustomFields>
                    </providers>
                </nestedField>
                <nestedField>
                    <fieldName>ecs</fieldName>
                    <providers>
                        <globalCustomFields>
                            <customFields>{"version": "1.0.0"}</customFields>
                        </globalCustomFields>
                    </providers>
                </nestedField>
                <arguments/>
                <nestedField>
                    <fieldName>log</fieldName>
                    <providers>
                        <logLevel/>
                        <loggerName />
                        <callerData/>
                    </providers>
                </nestedField>
                <nestedField>
                    <fieldName>process</fieldName>
                    <providers>
                        <nestedField>
                            <fieldName>thread</fieldName>
                            <providers>
                                <threadName>
                                    <fieldName>name</fieldName>
                                </threadName>
                            </providers>
                        </nestedField>
                    </providers>
                </nestedField>
            </providers>
        </encoder>
    </appender>

    <logger name="org.flywaydb" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.flywaydb.core.internal.dbsupport.SqlScript" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.flywaydb.core.internal.command.DbMigrate" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
