@(rootAccountName: String)(implicit request: play.api.mvc.Request[Any], customLinks: models.CustomLinks, meta: models.Meta)

@content = {
<!-- PAGE CONTENT -->


<div class="right_col" role="main">

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE TITLE -->
    <div class="page-title">
        <h3><span class="fa fa-cog"></span> Settings
        </h3>
    </div>

    <!-- END PAGE TITLE -->
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="alert-wrapper">
            <div ng-repeat="alert in alerts">
                <notification ng-model="alert"></notification>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h class="panel-title">

                        <a class="collapse-link" data-toggle="collapse" data-target="#collapseAccount" aria-expanded="false" aria-controls="collapseAccount">
                            <span class="fa fa-user"></span>&nbsp;Accounts&nbsp;<span class="fa fa-chevron-down"></span>
                        </a>
                    </h>
                </div>
                <div class="panel-collapse collapse in" id="collapseAccount">
                    <div class="panel-body">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-left">User Name <p class="text-normal">{{userData.userName}}</p></th>
                                <th class="text-center">First name <p class="text-normal">{{userData.firstName}}</p></th>
                                <th class="text-right" >Last name <p class="text-normal">{{userData.lastName}}</p></th>
                                <th class="text-right" >Email Id <p class="text-normal">{{userData.email}}</p></th>
                            </tr>

                            </thead>
                        </table>
                        <div> <strong> API Credentials </strong>
                            <div> <br>
                                <button class="btn btn-info btn-sm float-right" ><a href="/download-creds-file/@rootAccountName-vinyldns-credentials.csv">
                                    <span class="fa fa-download"></span> Download API Credentials <span aria-hidden="true"></span></a>
                                </button>
                                <button  class="btn btn-info btn-sm"><a href="" class="mb-control" data-toggle="modal" data-target="#mb-creds">
                                    <span class="fa fa-refresh"></span> Regenerate Credentials<span aria-hidden="true"></span></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h class="panel-title">
                        <a class="collapse-link" data-toggle="collapse" data-target="#collapseTheme" aria-expanded="false" aria-controls="collapseTheme">
                            <i class="fa fa-eye"></i>&nbsp;Appearance&nbsp;<i class="fa fa-chevron-down"></i>
                        </a>
                    </h>
                </div>
                <div class="panel-collapse collapse in" id="collapseTheme">
                    <div class="panel-body">
                        <div>
                            <strong> Visual <p5 id="theme-toggle-text">light</p5> mode </strong>
                            <input type="checkbox" id="toggle-theme" ng-click="themeToggleClick()">
                            <label id = "toggle-checkbox" for="toggle-theme">
                                <div id="star">
                                    <div class="star" id="star-1">★</div>
                                    <div class="star" id="star-2">★</div>
                                </div>
                                <div id="moon"></div>
                            </label>
                        </div>
                        <div><i >VinylDNS will use your selected theme</i></div>
                        <br>
                        <div>
                            <img src = "/assets/images/vinyldns-portal-day.png" id="theme-img" width="300" height="200"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- END RECORD TABLE -->

    </div>
    <!-- END PAGE CONTENT WRAPPER -->

</div>
<!-- END PAGE CONTENT -->
}

@plugins = {
<script type='text/javascript' src='/public/js/ui.js'></script>
}


@main(rootAccountName)("SettingsController")("Settings")(content)(plugins)
