@(rootAccountName: String)(implicit request: play.api.mvc.Request[Any])

<div class="top_nav" id="fixed-top-nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_indent"><i class="fa fa-indent color"></i></a>
        <a id="menu_dedent"><i class="fa fa-dedent color"></i></a>
        <a id="menu_mobile"><i class="fa fa-bars color"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user color"></i>
            <span class = "color"> @rootAccountName </span>
            <span class=" fa fa-angle-down color"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="/download-creds-file/@rootAccountName-vinyldns-credentials.csv">
                Download API Credentials<span aria-hidden="true"></span></a>
            </li>
            <li><a href="" class="mb-control" data-toggle="modal" data-target="#mb-creds">Regenerate Credentials<span></span></a></li>
            <li><a href="" class="mb-control" data-toggle="modal" data-target="#mb-signout">Logout<span></span></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
