@(rootAccountName: String)(implicit request: play.api.mvc.Request[Any])

<div class="top_nav" id="fixed-top-nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_indent"><i class="fa fa-indent"></i></a>
        <a id="menu_dedent"><i class="fa fa-dedent"></i></a>
        <a id="menu_mobile"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="" class="user-profile" aria-expanded="false">
            <i class="fa fa-user"></i> @rootAccountName
          </a >
        </li>
      </ul>
    </nav>
  </div>
</div>
