@(message: String)(implicit requestHeader: RequestHeader, customLinks: models.CustomLinks, meta: models.Meta)
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>No Access to VinylDNS</title>
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" id="theme" href="/public/css/ui.css"/>
    <link rel="stylesheet" type="text/css" id="custom" href="/public/css/theme-overrides.css"/>
    <link rel="stylesheet" type="text/css" id="custom" href="/public/css/vinyldns.css"/>
    <!-- EOF CSS INCLUDE -->
</head>
<body class="vinyldns-login">
<div class="login_wrapper">

    <div class="animate form login_form vinyldns-login-box">
        <div class="login_content">
            <div><img src="/assets/images/vinyldns-logo.png"/></div>
            <h2 class="vinyldns-login-title">VinylDNS</h2>
            <h4 class="vinyldns-login-title">
                @Html(message)
            </h4>
        </div>
        <div class="vinyldns-login-footer">
            <div>
                VinylDNS (version @{meta.version})
                <ul class="login-links">
                    @*****************************************
                    * Custom links from application config *
                    *****************************************@

                    @for(link <- customLinks.links) {
                    @if(link.displayOnLoginScreen) {
                    <li>
                        <a href='@{link.href}' target="_blank" rel="noopener noreferrer">@{link.title}</a>
                    </li>
                    }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
