@import helper.CSRF

@(implicit requestHeader: RequestHeader, meta: models.Meta)

<!DOCTYPE html>
<html lang="en" class="body-full-height">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta id="csrf" content="@CSRF.getToken.value" />
		<meta id="version" content="@meta.version" />
		<meta id="custom-links" content="@meta.customLinksJson">
		<link rel="icon" href="/public/images/favicon.ico" type="image/x-icon" />
		<script type="text/javascript" src="/public/scalajs/datalist-polyfill.js"></script>
		<link rel="stylesheet" type="text/css" id="theme" href="/public/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/public/gentelella/vendors/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" id="theme" href="/public/gentelella/build/css/custom.css"/>
		<link rel="stylesheet" type="text/css" id="theme" href="/public/css/vinyldns.css"/>
		<link rel="stylesheet" type="text/css" id="theme" href="/public/css/theme-overrides.css"/>
	</head>
	<body onload="ReactApp.main('root')">
		<div id="root"></div>

		<!-- choose full opt if it exists, fast opt otherwise -->
		@{
			def toAsset(name: String) = routes.Assets.versioned(name).toString
			def exists(name: String) = getClass.getResource(s"/public/$name") != null
			Seq(s"client-opt-library.js", s"client-fastopt-library.js").find(exists).map { name =>
			val src = toAsset(name)
			val loader = toAsset("scalajs/loadScalaJsLibrary.js")
			<div>
				<script src={s"$src"} type="text/javascript"></script>
				<script src={s"$loader"} type="text/javascript"></script>
				{
					Seq(s"client-opt.js", s"client-fastopt.js").find(exists).map { name =>
					val src = toAsset(name)
					<script src={s"$src"} type="text/javascript"></script>
					}.get
				}
			</div>
			}
		}
	</body>
</html>
