body {
  color: #000;
}

a {
  color: #0066CC;
}

.btn-primary, .btn-primary:disabled:hover {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
}

.btn-primary:hover {
    background-color: #262626;
    border-color: #262626;
}

.btn-info, .btn-info:disabled:hover {
    background-color: #fff;
    border-color: #0086ff;
    color: #0086ff;
}

.btn-info:focus, .btn-info:active, .btn-info:active:hover {
  background-color: #005fb3;
}

.btn-info:hover {
    background-color: #fff;
    border-color: #005fb3;
    color: #005fb3;
}

.btn-warning, .btn-warning:disabled:hover, a.btn-warning {
    background-color: #fff;
    border-color: #eea236;
    color: #eea236;
}

.btn-warning:focus, .btn-warning:active, .btn-warning:active:hover {
  background-color: #d58512;
}

.btn-warning:hover {
    background-color: #fff;
    border-color: #d58512;
    color: #d58512;
}

.btn-danger, .btn-danger:disabled:hover {
    background-color: #fff;
    border-color: #E04B4A;
    color: #E04B4A;
}

.btn-danger:hover {
    background-color: #fff;
    border-color: #bd2120;
    color: #bd2120;
}

.btn-success, .btn-success:disabled:hover {
    background-color: #0086ff;
    border-color: #005fb3;
}

.btn-success:hover, .btn-success:active, .btn-success:active:hover, .btn-success:focus {
    background-color: #005fb3;
    border-color: #004480;
}

.dataTables_paginate .pagination {
    margin: 0px;
}

.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #0086ff;
}

.nav-sm span.fa {
    display: inline;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #1b1e24;
}

.nav.navbar-nav>li>a {
    color: #E7E7E7!important;
}

.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover,
.top_nav .nav .open>a, .top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover {
    background: #0086ff;
}

.top_nav .nav>li>a:hover {
    background: #0086ff;
}

.toggle a {
    color: #E7E7E7;
}

.x_content {
  padding: 10px 17px;
}

.x_panel {
  padding: 0px;
}

/* TABS */
ul.bar_tabs {
  background: none;
}

ul.bar_tabs>li.active {
  border: 1px solid #E6E9ED;
  margin-top: -15px;
  border-bottom: none;
}

ul.bar_tabs>li a {
  background: #F5F5F5;
  color: #555555;
}

/* FORMS */
.form-group .btn {
    margin-bottom: 0;
}

.form-group.panel-footer {
  margin-bottom: 0;
}

/* MODALS */
.modal-body p {
  margin: 0 20px;
}

/* GROUP MAIN TABLE */
.group-members>tbody>tr>td {
  vertical-align: middle;
  padding: 8px;
}

.group-members button.btn.btn-danger {
  margin-bottom: 0;
}

/* PAGINATION */
.pagination>li>a {
  color: #333;
  border: 1px solid #ccc;
  background-color: #FFF!important;
  cursor: pointer;
}

.pagination>li>a:hover {
  color: #333;
  background-color: #e6e6e6!important;
  border: 1px solid #adadad!important;
}

.alert-info {
    color: #31708f!important;
    background-color: #d9edf7!important;
    border-color: #bce8f1!important;
}
