<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>vinyldns-api</serviceName>
            <serviceNodeName>vinyldns-api</serviceNodeName>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.apache.zookeeper" level="ERROR" />
</configuration>
