@(rootAccountName: String)(implicit request: play.api.mvc.Request[Any], customLinks: models.CustomLinks, meta: models.Meta)
@content = {
    <!-- PAGE CONTENT -->
    {{
        @* Passes params from play to angular *@
        ""
    }}

    <div class="right_col" role="main" >

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/zones">RecordSets</a></li>
            <li class="active">{{recordSet.name}}</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE -->
        <div class="page-title">
            <h3><span class="fa fa-table"></span> {{ recordSet.name }}
            </h3>
        </div>
        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">

            <div class="alert-wrapper">
                <div ng-repeat="alert in alerts">
                    <notification ng-model="alert"></notification>
                </div>
            </div>
            <div>
                {{ recordSet }}
            </div>
            <div>

                <!-- START SIMPLE DATATABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">RecordSet Changes</h3>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click=""><span class="fa fa-refresh"></span> Refresh</button>
                        </div>

                        <!-- PAGINATION -->
                        <div class="dataTables_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous">
                                    <a ng-if="" ng-click="" class="paginate_button">Previous</a>
                                </li>
                                <li class="paginate_button next">
                                    <a ng-if="" ng-click="" class="paginate_button">Next</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGINATION -->
                        <table id="changeDataTable" class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th class="col-md-5">Recordset Name</th>
                                <th>Recordset Type</th>
                                <th>Change Type</th>
                                <th>TTL</th>
                                <th>RecordSet Data</th>
                                <th>User</th>
                                <th>Status</th>
                                <th>Additional Info</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="change in recordSetChanges">
                                <td>{{change.created}}</td>
                                <td class="wrap-long-text">{{change.recordSet.name}}</td>
                                <td>{{change.recordSet.type}}</td>
                                <td>{{change.changeType}}</td>
                                <td>{{change.recordSet.ttl}}</td>
                                <td>{{change.recordSet.records}}</td>
                                <td>{{change.userName}}</td>
                                <td>
                                    <span class="label label-{{ }}">{{ change.status }}</span>
                                </td>
                                <td class="col-md-3 wrap-long-text">
                                    {{change.systemMessage}}
                                    <div ng-if="change.status !='Failed'">
                                        <a ng-if="change.changeType =='Create'" ng-click="" class="force-cursor">View created recordset</a>
                                        <a ng-if="change.changeType =='Delete'" ng-click="" class="force-cursor">View deleted recordset</a>

                                        <div><a ng-if="" ng-click="" class="force-cursor">View new recordset</a></div>
                                        <div><a ng-if="" ng-click="" class="force-cursor">View old recordset</a></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                        </table>

                        <!-- PAGINATION -->
                        <div class="dataTables_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous">
                                    <a ng-if="" ng-click="" class="paginate_button">Previous</a>
                                </li>
                                <li class="paginate_button next">
                                    <a ng-if="" ng-click="" class="paginate_button">Next</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGINATION -->

                    </div>
                    <div class="panel-footer"></div>
                </div>
                <!-- END SIMPLE DATATABLE -->
            </div>
         </div>
        <!-- END PAGE CONTENT WRAPPER -->

    </div>
    <!-- END PAGE CONTENT -->
}

@plugins = {
    <script type='text/javascript' src='/public/gentelella/vendors/iCheck/icheck.min.js'></script>
    <script type="text/javascript" src="/public/gentelella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/public/gentelella/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="/public/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
}

@main(rootAccountName)("RecordSetDetailController")("Recordset")(content)(plugins)
