<configuration>
    <!-- Test configuration, log to console so we can get the docker logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>vinyldns-core</serviceName>
            <serviceNodeName>vinyldns-core</serviceNodeName>
        </encoder>
    </appender>

    <logger name="org.flywaydb" level="INFO"/>

    <logger name="vinyldns.core.route.Monitor" level="OFF"/>

    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
