/conf/local.conf
__pycache__
*.pyc
/func_test/.virtualenv
node_modules/
public/bower_components/
public/test_frameworks/
package-lock.json
release.version
private
.bloop
.metals

public/js/*
!public/js/custom.js

public/css/*
!public/css/theme-overrides.css
!public/css/vinyldns.css

public/fonts
