<configuration>
    <!-- Test configuration, log to console so we can get the docker logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>vinyldns-api</serviceName>
            <serviceNodeName>vinyldns-api</serviceNodeName>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
