<configuration>
    <!-- Test configuration, log to console so we can get the docker logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>vinyldns-api</serviceName>
            <serviceNodeName>vinyldns-api</serviceNodeName>
        </encoder>
    </appender>

    <logger name="org.flywaydb" level="DEBUG"/>
    <logger name="org.flywaydb.core.internal.dbsupport.SqlScript" level="DEBUG"/>
    <logger name="org.flywaydb.core.internal.command.DbMigrate" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.apache.zookeeper" level="ERROR" />
</configuration>
