<configuration>
    <!-- Test configuration, log to console so we can get the docker logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>vinyldns-api</serviceName>
            <serviceNodeName>vinyldns-api</serviceNodeName>
        </encoder>
    </appender>

    <appender name="BANNER_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.flywaydb" level="DEBUG"/>
    <logger name="org.flywaydb.core.internal.dbsupport.SqlScript" level="DEBUG"/>
    <logger name="org.flywaydb.core.internal.command.DbMigrate" level="DEBUG"/>

    <logger name="BANNER_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="BANNER_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
