.screenshot {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron {
  padding-top: 155px;
  padding-bottom: 20px;
  background-attachment: scroll;
  background: url("../img/jumbotron_pattern.png") repeat center;
  background-color: #123051;
}

#masthead {
  background-attachment: scroll;
  background: url("../img/jumbotron_pattern.png") repeat center;
  background-color: #123051;
}

body nav#navigation div.navbar-wrapper div.navigation-brand a.background-mask div.icon-wrapper {
  background: url("../img/navbar_brand36x36.png") no-repeat;
  -webkit-mask: none;
  mask: none;
  animation: none;
}

.docs #sidebar-wrapper #sidebar-brand a div.brand-wrapper {
  background: url("../img/sidebar_brand36x36.png") no-repeat;
}

body nav#navigation div.navbar-wrapper div.navigation-brand a.background-mask div.page-icon-wrapper {
  background: url("../img/navbar_brand36x36.png") no-repeat;
  -webkit-mask: none;
  mask: none;
  animation: none;
}

.important {
    color: red;
}
